// Hydrogen / Components / Button

@forward "../../node_modules/@hydrogen-design-system/core/dist/styles/defaults";
@use "../../node_modules/@hydrogen-design-system/core/dist/styles/defaults" as variables;
@use "../../node_modules/@hydrogen-design-system/core/dist/styles/maps" as maps;
@use "../../node_modules/@hydrogen-design-system/core/dist/styles/functions" as functions;
@use "../../node_modules/@hydrogen-design-system/core/dist/styles/h2-core";

[data-h2-enabled] {

    // Generic Styles
    button,
    [data-h2-button] {
        background: none;
        border: none;
        cursor: pointer;
        font-size: variables.$font-scale-normal;
        outline: none;
        text-align: center;
        transition: all .2s ease;
        &:focus {
            box-shadow: -3px -3px 0 variables.$focus-color, 3px -3px 0 variables.$focus-color, 3px 3px 0 variables.$focus-color, -3px 3px 0 variables.$focus-color;
        }
        &:disabled {
            background: lighten(variables.$gray, 30%);
            border-color: lighten(variables.$gray, 30%);
            color: variables.$gray;
            pointer-events: none;
        }
        @media (hover: hover) {
            &:hover {
                border-color: variables.$hover-background-color;
                color: variables.$hover-font-color;
                transition: all .2s ease;
            }
        }
    }

    [data-h2-button] {
        @media (hover: hover) {
            &:hover {
                background: rgba(variables.$hover-background-color, .2);
            }
        }
    }

    // Anchors
    a[data-h2-button] {
        display: inline-block;
        max-width: 100%;
        text-decoration: underline;
        vertical-align: middle;
    }

    // Variations type, size, radius, color
    @each $typeKey, $typeValue in maps.$button-type-map {
        @each $sizeKey, $sizeValue in maps.$size-map {
            @each $radiusKey, $radiusValue in maps.$radius-map {
                @each $colorKey, $colorValue in maps.$color-map {
                    [data-h2-button*="#{$typeKey}, #{$sizeKey}, #{$radiusKey}, #{$colorKey}"],
                    a[data-h2-button*="#{$typeKey}, #{$sizeKey}, #{$radiusKey}, #{$colorKey}"] {
                        border-radius: $radiusValue;
                        // Aesthetic
                        @if $typeKey == "solid" {
                            background: $colorValue;
                            border: 1px solid $colorValue;
                            color: functions.contrasting-color($colorValue, variables.$white, variables.$black);
                        }
                        @if $typeKey == "outline" {
                            background: none;
                            border: 1px solid $colorValue;
                            color: $colorValue;
                        }
                        @if $typeKey == "clear" {
                            background: none;
                            border: none;
                            color: $colorValue;
                            @media (hover: hover) {
                                &:hover {
                                    background: none;
                                    border: none;
                                    color: variables.$hover-font-color;
                                    transition: all .2s ease;
                                }
                            }
                        }
                        // Font size, padding
                        @if $sizeKey == "small" {
                            font-size: variables.$font-scale-small;
                            padding: calc((#{variables.$padding} / 2) * .5) calc(#{variables.$padding} / 2);
                        }
                        @if $sizeKey == "normal" {
                            font-size: variables.$font-scale-normal;
                            padding: calc(#{variables.$padding} * .5) variables.$padding;
                        }
                        @if $sizeKey == "large" {
                            font-size: variables.$font-scale-h5;
                            padding: calc((#{variables.$padding} * 1.5) * .5) calc(#{variables.$padding} * 1.5);
                        }
                    }
                }
            }
        }
    }
    
}